* {
    padding: 0;
    margin:0;
    box-sizing: border-box;
    /* font-family: 'Lemonada', cursive; */
    font-family: "Cairo"; 
    transition: all .2s ease-in-out;
}

.x {
    color:#1b9bff;
    border-bottom: 2px solid #fff; 
    padding-bottom: 5px; 
    display: inline-block ;
}

.x:hover {
    transform: scale(1.1); 
}

::selection {
    /* background-color: #212121; */
    color: #0082e6;
    text-shadow: 2px 2px 10px #000;
}

body {
    background: url('./images/bg.jpg');
    background-size: cover; 
    background-position: center center; 
    background-attachment: fixed;
    background-repeat: no-repeat; 
    position: relative; 
}


/* Header Style */

.header { 
    top: 0; 
    position: fixed; 
    width: 100%; 
    height: 80px; 
    background: #212121;
    z-index: 10000;
}

.header li, .header a {
    text-decoration: none;
    list-style: none;
}

.logo {
    color: white;
    /* font-size: 35px; */
    line-height: 80px;
    padding: 0 50px; 
    font-weight: bold;
    font-size: 30px;
}

.header ul {
    float: left; 
    margin-right: 20px; 
}

.header ul li { 
    display: inline-block; 
    line-height: 80px;
    margin: 0 5px; 
}

.header ul li a {
    color: white; 
    padding: 7px 13px ;
    border-radius: 3px; 
    font-size: 16px;
}

.header ul li a.active, .header ul li a:hover {
    background: #1b9bff;
    box-shadow: 0 0.2px 5px rgba(0, 0, 0, 0.445); 
    transition: 0.5s;
}

.checkbtn {
    cursor: pointer;
    font-size: 30px;
    color: white; 
    float: left; 
    line-height: 80px;
    margin-left: 40px;
    display: none; 
}

#check {
    display: none; 
}

@media (max-width: 925px) {
    label.logo {
        font-sizE: 18px; 
        padding-right: 50px;
    }
}

@media (max-width: 858px) {
    .checkbtn{
        display: none; 
    }
    .header ul {
        position: fixed; 
        width: 100%; 
        height: 100vh; 
        /* background: #2c3e50; */
        background: #212121;
        top: 80px; 
        left: -100%;
        text-align: center;
        z-index: 1000;
        transition: all .5s; 
    }
    .header ul li { 
        display: block; 
        margin: 50px 0px; 
        line-height: 30px;
    }
    .header ul li a { 
        font-size: 16px;
    }

    .header ul li a.active, .header ul li a:hover {
        background-color: transparent; 
        box-shadow: none;
        color: #0082e6;
    }

    #check:checked ~ ul {
        left: 0; 
    }
}




/* Footer Style */

footer {
    background: #212121;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    min-height: 80px;
    min-width: 100%;
}

footer > div {
    /* background: red; */
    padding: 10px;
}

footer a, footer p {color: #fff; text-decoration: none;}
.cta {
    width: 300px;
    display: flex; 
    justify-content: space-around;
    align-items: center; 
}
.cta a {
    display: inline-block;
    font-size: 18px;    
}

.cta a:hover {
    /* color:rgb(255, 217, 0); */
    color: #1b9bff;
}

.copyrights > p {
    font-size: 18px;
    font-family: 'Cairo', sans-serif;
}

.socialmedia {
    /* background: red; */
    display: flex; 
    width: 200px;
    justify-content: space-around;
}

.socialmedia > div {
    flex: 1;
}

.socialmedia a {
    display: inline-block;
    font-size: 18px;
}
.socialmedia a:hover {
    /* color:rgb(255, 217, 0); */
    color: #1b9bff;
}

#name {
    /* color: rgb(255, 217, 0);  */
    color: #1b9bff;
}


@media screen and (max-width: 768px) {
    footer {
        flex-direction: column;
        min-height: 200px;
    }
    footer .copyrights > p {
        text-align: center;
    }
    

}



.main-section {
    /* min-height: 1000px;  */
    max-width: 100vw; 
    background: rgba(0, 0, 0, 0.700);
    margin-top: 80px; 
    padding: 20px 0px; 
}

.cover {
    padding: 10px; 
}

.cover .cover-title {
    color: white; 
    text-align: center;
}

/* Offer Style */ 

.offers { 
    color: #fff; 
    width: 90%; 
    margin: 0px auto; 
}

.offers-title {
    padding: 30px 0px;
}

.offers-container {
    display: grid; 
    width: 90%; 
    margin: 10px auto; 
    grid-gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    border-bottom: 2px solid #fff;
    padding-bottom: 10px;
}

.item {
    /* background: #0082e6;  */
    background:#212121;
    padding: 10px;
    text-align: center; 
    border-radius: 10px;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    flex-direction: column;
}

.item:hover {
    box-shadow: 0 0px 20px 1px rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
}

.item ion-icon {
    font-size: 20px;
}

.item .offer-title {
    border-bottom: 2px solid #0082e6;
    padding-bottom: 10px;
}

@media screen and (max-width: 858px) { 
    .offers-container {
        display: grid; 
        grid-row-gap: 30px; 
        grid-template-columns: 1fr; 
    }
    footer {
        flex-direction: column;
        min-height: 200px;
    }
    footer .copyrights > p {
        text-align: center;
    }
    
}

.icons-container {
    display: flex; 
    flex-direction: row; 
    justify-content: center;  
    grid-gap: 20px;
    align-items:center; 
    width: 100%; 
}


/* Style "How We Work Section" */

.how-we-work {
    color: #fff; 
    margin-top: 30px;
    background-color: #212121;
}

.how-we-work-title-description {
    font-family: "Cairo"; 
}

.how-we-work .cover {
    /* background: red; */
    text-align: center;
    border-bottom: 2px solid #333;
    width: 90%;
    margin: 0px auto;
}


.work-steps {
    width: 90%; 
    margin: 10px auto; 
    display: grid; 
    grid-template-columns: repeat(4, 1fr); 
    grid-column-gap: 10px;
    padding-bottom: 10px;
}

.work-steps .step {
    /* background: blue;  */
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    grid-row-gap: 10px;
}

.work-steps .step .icon {
    padding: 10px;
    width: 50px; 
    height: 50px;
    background: #0082e6;
    border-radius: 50%; 
}

.work-steps .step ion-icon {
    /* background: yellow;  */
    font-size: 30px;
}

@media (max-width:768px) {
    .work-steps {
        grid-template-columns: 1fr;
        grid-row-gap: 30px;       
    }
    .how-we-work .cover {
        margin-bottom: 15px;
    }
    .step .icon  {
        border: 1px solid #fff;
    }
}

.item-description {
    font-family: "Cairo"; 
    margin: 10px 0px;
}



.whatsapp-icon {
    /* background: #4cca5a;  */
    position:fixed; 
    z-index: 120000;
    bottom: 10px; 
    left: 10px;
    /* background: #0082e6; */
    width: 60px; 
    height: 60px;
    line-height: 60px;
}

.whatsapp-icon ion-icon {
    font-size: 60px;
    color: #4cca5a; 
}

.whatsapp-icon ion-icon:hover {
    color: #128c7e;
}




@media (max-width:768px) {
    .whatsapp-icon { 
        width: 50px; 
        height: 50px; 
        line-height: 50px; 
    }
    .whatsapp-icon ion-icon { 
        font-size: 50px;
    }
}

.portfolio {
    /* background: #f9f9f9bb; */
    background:#212121;
    color: #fff;
    margin-top: 20px;
}

.portfolio .content {
    width: 90%; 
    margin: 10px auto; 
    padding: 10px;
}

.portfolio .content .portfolio-insta-logo, .whatsapp {
    display: inline-block; 
    padding: 0px 10px;
    /* padding-top: 20px; */
    /* background: red; */
    font-size: 30px;
    color: #d11f53;
}

.portfolio .content .button-visit {
    text-decoration: none; 
    color: #fff;
    font-size: 25px;
}

.portfolio .content .button-visit span {
    color:#d11f53;
}

.whatsapp {
    color: #4cca5a;
}


/* Gallery Style */


.gallery .cover .gallery-title {
    color: #fff; 
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }